.carousel .slider-wrapper.axis-horizontal {
  overflow: visible;
  max-width: 500px;
}

.carousel-root .carousel-slider .control-arrow.control-next {
  height: fit-content;
  top: 30%;
  font-size: 2.5rem;
}

.carousel-root .carousel-slider .control-arrow.control-prev {
  height: fit-content;
  top: 30%;
  font-size: 2.5rem;
}

.control-arrow.control-next::before {
 transform: scale(3.5);
}

.control-arrow.control-prev::before {
  transform: scale(3.5);
}