@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* BAGGRUND */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 60% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dynamic-bg {
  background: linear-gradient(135deg, #000000, #000000, #1e3a8a, #000000);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}
